@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    

}



::-webkit-scrollbar {
    width: 12px;
    background: rgb(12, 12, 12);
}

.sec.dark body {
    background: #f2f7ff !important;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #d96fa7);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: linear-gradient(transparent, #d96fa7);
    border-radius: 6px;
}

ul {
    padding-inline-start: 0px !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}

main {
    display: grid;
    background-color: black;
    transition: 0.5s;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header" "home home home home" "sobre sobre sobre sobre" "portfolio portfolio portfolio portfolio" "servicos servicos servicos servicos" "contato contato contato contato" "footer footer footer footer";
}

.sec.dark main {
    background-color: #f2f7ff;
}




/*WHATSAPP*/

.whatsapp-ico {
    fill: white;
    width: 70px;
    height: 70px;
    padding: 3px;
    background: linear-gradient(90deg, #d96fa7, #d96fa7);
    border-radius: 50%;
    box-shadow: 2px 2px 6px rgb(2, 2, 10);
    /* box-shadow: 2px 2px 11px rgba(0,0,0,0.7); */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}


.whatsapp-ico:hover {
    box-shadow: 0px 5px 50px 0px #d96fa7 inset, 0px 5px 50px 0px #d96fa7, 0px 5px 50px 0px #d96fa7 inset, 0px 5px 50px 0px #d96fa7;
}

.face {
    margin-top: 30px;
}

[data-anime] {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: .8s;
}

[data-anime="scroll"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: .8s;
}

[data-semana]::after {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    background: #E54;
    border-radius: 50%;
    margin-left: 4px;
    border: 2px solid #000;
}

[data-semana].aberto::after {
    background: #3F4;
}


@media (max-width: 912px) {
    .whatsapp-ico{
        height: 70px;
        width: 70px;
        position: block;
    }   
}
@media (max-width: 912px) {
    .img-sobre img{
        height: 50px;
        width: 50px;
    }   
    
}

    


