@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

    

}



::-webkit-scrollbar {
    width: 12px;
    background: rgb(0, 0, 0);
}

.sec.dark body {
    background: #f2f7ff !important;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #d96fa7);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: linear-gradient(transparent, #d96fa7);
    border-radius: 6px;
}

ul {
    padding-inline-start: 0px !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}

main {
    display: grid;
    background: url('/img/telazul.jpg');
    transition: 0.5s;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-template-areas: "header header header header" "home home home home" "sobre sobre sobre sobre" "portfolio portfolio portfolio portfolio" "servicos servicos servicos servicos" "contato contato contato contato" "footer footer footer footer";
}

.sec.dark main {
    background: url('/img/telazul.jpg');
}

#nav {
    position: relative; /* Garante que o nav seja o contexto de posicionamento */
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    padding-top: 19px;
    position: relative; /* Posicionamento relativo para os filhos absolutos */
}

#menu li {
    position: relative; /* Posicionamento relativo para os links */
}

#menu a {
    display: block;
    text-align: center;
    color: blue;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    padding: 5px 10px;
}

#menu a:hover {
    color: #f2f7ff; /* Altera a cor do texto ao passar o mouse */
}

.highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #0eb4ba, #09090A);
    border-radius: 10px;
    transition: 0.5s;
}

#menu li:nth-child(1):hover ~ .highlight {
    left: 0px;
}

#menu li:nth-child(2):hover ~ .highlight {
    left: 90px;
}

#menu li:nth-child(3):hover ~ .highlight {
    left: 180px;
}

#menu li:nth-child(4):hover ~ .highlight {
    left: 275px;
}

/* Estilos para o link de contato e outros links com abbr */
abbr,
#contato a {
    color: #f2f7ff;
}

/* Resetando estilos do usuário */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}
#nav {
    position: relative;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    padding-top: 19px;
    position: relative;
}

#menu li {
    position: relative;
}

#menu a {
    display: block;
    text-align: left;
    color: rgb(3, 3, 3);
    font-size: 13px;
    text-transform: uppercase;
    transition: 0.5s;
    padding: 10px 10px;
    position: relative; /* Para que z-index funcione */
    z-index: 1; /* Mantém os links na frente do elemento .highlight */
}

#menu a:hover {
    color: #070707;
}

.highlight {
    left: 8%; /* Começa no meio */
    transform: translateX(-50%); /* Move metade da largura do elemento para a esquerda */
    width: 95px;
    height: 120%;
    background: linear-gradient(45deg, #f8f8f8, #1dd2db, #f8f8f8 );
    border-radius: 10px;
    transition: 0.5s;
    z-index: 0; /* Coloca o elemento .highlight atrás dos links */
}

#menu li:nth-child(1):hover ~ .highlight {
    left: 20px;
}

#menu li:nth-child(2):hover ~ .highlight {
    left: 120px;
}

#menu li:nth-child(3):hover ~ .highlight {
    left: 220px;
}

#menu li:nth-child(4):hover ~ .highlight {
    left: 310px;
}

/* Estilos para o link de contato e outros links com abbr */
abbr,
#contato a {
    color: #f2f7ff;
}

/* Resetando estilos do usuário */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}





/*WHATSAPP*/

.whatsapp-ico {
    fill: white;
    width: 70px;
    height: 70px;
    padding: 3px;
    background: linear-gradient(90deg, #65f8f3, #111111);
    border-radius: 50%;
    box-shadow: 2px 2px 6px rgb(10, 215, 233);
    /* box-shadow: 2px 2px 11px rgba(0,0,0,0.7); */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}


.whatsapp-ico:hover {
    box-shadow: 0px 5px 50px 0px #09c3df inset, 0px 5px 50px 0px #97deeb, 0px 5px 50px 0px #77d1f0 inset, 0px 5px 50px 0px #16ccec;
}

.face {
    margin-top: 30px;
}

[data-anime] {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: .8s;
}

[data-anime="scroll"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: .8s;
}

[data-semana]::after {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    margin-left: 4px;
    border: 2px solid #0fe6df;
}

[data-semana].aberto::after {
    background: #3F4;
}


@media (max-width: 912px) {
    .whatsapp-ico{
        height: 70px;
        width: 70px;
        position: block;
        
    }   
}
@media (max-width: 912px) {
    .img-sobre img{
        height: 50px;
        width: 50px;
    }   
    
}

@media (max-width: 1150px) {
    .img-sobre img{
        height: 50px;
        width: 50px;
    }   
    
}

    


