/*********** HOME *************/

#home {
    grid-area: home;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    background: url('/Site-Avatar-nid/site-avatar/site-avatar/portifolio-nid/Portifolio/img/papeldeparede/teste.jpg');
    background-repeat: repeat;

}
#home h1 {
    color: #f2f7ff;
    font-size: 2.9em;
}

.sec.dark #home h1 {
    color: #09090A;
}

#home p {
    color: #d96fa7;
    font-size: 1.5em;
}

#home .img-home {
    margin: 80px 10px;
    /* animation: animate 5s linear infinite; */
    animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes animate {
    0%,
    100% {
        transform: translateY(50px);
    }
    50% {
        transform: translateY(100px);
    }
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 600px) {
    #home {
       grid-template-columns: 2fr; 
    }

    .img-home img {
        width: 100%;
        height: auto;
        margin-top: -150px;
    }
    .gif {
        text-align: center;
        
  }
@media (max-width: 412px) {
    #logo {
       display: none;
    }   
}
@media (max-width: 414px) {
    #logo {
       display: none;
    }  
@media (max-width: px) {
    .whatsapp-ico{
        display: none;
        
    }   
}




}
}
